.wrapper-dropdown {
    /* Size and position */
    position: relative;
    width: 300px;
    margin: 0 auto;
    padding: 15px;

    /* Styles */
    background: #fff;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;

    /* Font settings */
    font-weight: bold;
    color: #707f8d;
    font-family: "Arial", sans-serif;
    font-size: 15px;
}

.wrapper-dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #707f8d transparent;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: transform 0.5s linear;
    -moz-transition: transform 0.5s linear;
    -o-transition: transform 0.5s linear;
    transition: transform 0.5s linear;
}

.wrapper-dropdown .dropdown {
    /* Size & position */
    position: absolute;
    top: 140%;
    left: 0;
    right: 0;

    /* Styles */
    background: white;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: bold;
    transition: all 0.5s;
    list-style: none;
    font-family: "Arial", sans-serif;
    font-size: 15px;
    padding:0;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown .dropdown li a {
    border-left: solid 4px white;
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #707f8d;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    transition: all 0.3s ease-out;
}

.wrapper-dropdown .dropdown li i {
    float: left;
    color: inherit;
    margin-right: 15px;
}
.wrapper-dropdown .dropdown li:first-of-type a {
    border-radius: 2px 2px 0 0;
}

.wrapper-dropdown .dropdown li:last-of-type a {
    border-radius: 0 0 2px 2px;
}

/* Hover state */

.wrapper-dropdown .dropdown li:hover a {
    background: #f3f8f8;
    border-left: solid 4px #4cbeff;
}

.wrapper-dropdown .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: #fff transparent;
}

.wrapper-dropdown .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;
}

.wrapper-dropdown.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}
.heading {
    float: left;
    color: inherit;
    margin-right: 15px;
}

.wrapper-dropdown.active {
    border-radius: 2px;
    background: #4cbeff;
    box-shadow: none;
    border-bottom: none;
    color: white;
}

.wrapper-dropdown.active:after {
    border-color: white transparent;
    border-width: 6px 6px 0 6px;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-transition: transform 0.5s linear;
    -moz-transition: transform 0.5s linear;
    -o-transition: transform 0.5s linear;
    transition: transform 0.5s linear;
}

.wrapper-dropdown.active .dropdown {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    max-height: 400px;
    opacity: 1;
    pointer-events: auto;
}